*{
  

    margin: 0px;
    padding: 0px;
    font-family: 'Inconsolata', monospace;
    outline: 1px red;
}
body{
    /* background-color: rgb(152, 8, 8); */
    background-image: linear-gradient(rgb(246, 79, 32), rgb(240, 220, 3));
    
    
    
    
}
.container{
    width: 100%;
    height: 100vh;/* 1vh = 19.2px
    viewport height */
    background-color: black;
    position: relative;
}
.navbar{
    display: flex;
    justify-content:space-between;
    width: auto;
    align-items: center;/* make items exact center vertically on a div */
    background-image: linear-gradient(rgb(22, 20, 20), rgb(248, 169, 169));
    
}
.logo{
    width: 250px;
    cursor: pointer;
}
.listitem{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}
.links{
 text-decoration: none;
 color: black;
 font-weight: bold;
}
.listitem :hover{
    color: red; 
}

.links:hover{
    color: red;
}
.btn{
    border: none;
    border-radius: 50px;
    padding: 9px 25px;
    
    background-color: rgb(255, 170, 0);
    text-decoration: none;

   
    
    
    cursor: pointer;
    transition: all 0.3s ease 0s
  }
.btn:hover{
    background-color: rgb(229, 9, 53, 0.7);
}
.navbar a{
    color: rgb(15, 250, 246);
    
}
.home_image img{
    width: 600px;
    height: 700px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px 3px black;
}
.home1{
    /* display: grid;
    grid-template-columns: repeat( 2, 1fr);
    gap: 1rem; */
    margin-top: 2px;
    color: aqua;
    background-color: rgb(120, 6, 6);
}

.booking{
    
    /* box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); */
    box-shadow: 2px 2px 10px 3px rgb(249, 159, 159);
    transition: 0.3s;
    background-color: rgb(8, 8, 8);
  }
  .booking img{
    
    border-radius: 5px;
    
  }
  
  
  .booking:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  

  .container1 {
    padding: 2px 16px;
    text-align: center;
  }
  .home_image{
    width: 40%;
    float: left;
    
    
  }
  .home_text{
    width: 40%;
    float: right;
   
    

  }
  .booking{
    width: 50%;
    margin-top: 30px;
  }

  .btn2{
    border: none;
    border-radius: 30px;
    padding: 10px;
    color: rgb(252, 140, 4, 1);
    text-decoration: solid;
    background-color: rgba(164, 11, 11, 0.993);
    font-size: medium;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  .btn2:hover{
    background-color: rgba(132, 9, 9, 0.888);

  }
  #name{
     text-align: center;
     size:160px;
     font-family: 'Tilt Prism', cursive;
     color: goldenrod;

  }
  #q{
    text-align: center;
    size: 90px;
    font-family: 'Kanit', sans-serif;
    color: whitesmoke;
  }

   #home span,#menu span{
    font-family: 'Tilt Prism', cursive;
    size: 95px;
    color: rgb(145, 251, 8);
  }
  #home{
    background-color: black;
  }



  .content{
    display: grid;
    grid-template-columns: 50% auto;
    gap: 30px;
    margin-top: 120px;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-top: 40px;
}

.content .content_left{
    display: block;
    width: 100%;

}
.content .content_left .info{
    max-width: 100%;
    display: flex;
    flex-direction: column;

}
.content .content_left .info h2{
    font-size: 50px;
    font-family: sans-serif;
    margin-bottom: 50px;
    margin-left: 10px;

}
.content .content_left .info p{
    font-size: 23px;
    line-height: 2pc;
    margin-bottom: 30px;
    font-family: sans-serif;
    


}
.content .content_left button{
    padding: 10px 20px;
    background-color: red;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    width:25% ;
    margin:10px  0px  10px 200px;
}
#imgfood1{
  /* margin-right:500px;
   width: 400px;
   height: auto; */
   /* position: absolute; */
   display: flex;
   position: absolute;
   margin-right: 100px;
   width: 300px;
   height: auto;
   animation: rotate 10s linear infinite;
   position: relative;
}
@keyframes rotate { 
   0%{
       transform: rotate(0deg);
       /* transform: translate(-50%); */
   }
   100%{
       transform: rotate(360deg);
        /* transform: translate(-50%); */
   } 
      
} 
.info{
  box-shadow: 0 4px 8px 0 rgba(0,0,0,1);
  /* background: rgb(100, 94, 75); */
  margin-left: 20px;
  border-radius: 25px;

}


/* --section-menu */
/* ==========cards =======*/


.card ,.ccard{

  margin-top:60px ;
}

.category{
  width: 100%;
  display: flex;
  margin-bottom: 50px;
  justify-content: center;

}
.category .list-items{
  width: 90%;
  position: relative;
  margin-top: 100px;
}
.category .list-items h3{
  font-size: 40px;
  font-weight: 600;
  font-family: 'Caprasimo', cursive;
  color: ghostwhite;
  
  margin-bottom: 70px;
  text-align: center;


}
.category .list-items .card-list{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  padding: 10px;
  margin-left: 10px;
}
.category .card-list .card{
  width: 200px;
  height: auto;
  display: block;
  padding: 10px;
  margin-left: 10px;
  border-radius: 10px;
  position: relative;
  background: white;
  outline: 2px solid rgb(246, 171, 144);
}

.category .card-list .card img{
  width: 100px;
  height: auto;
  bottom: 210px;
  left: 60px;
  object-fit: cover;
  object-position: center;
  background-repeat: no-repeat;
  position: absolute;
  box-shadow: 0 0 0 0  rgb(240, 200, 186);
  /* border-radius: 50%; */
}

/* hover img */

.category .card-list .card img:hover{


  width: 200px;
  height: auto;
  cursor: pointer;
  
}
.category .card-list .card .food-title{
  padding:  40px 0 10px ;
}
.category .card-list .card .food-title h1{
  text-align: center;
  font-weight: bold;
  
  font-family: 'Montserrat', sans-serif;
  font-size: larger;
}
.category .card .desc-food p{
  font-size: 13px;
  text-align: center;
  font-weight: 500;
  margin-bottom: 20px;
  font-family: sans-serif;
}
.category .card .price{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.category span{
  color: color-mix(in xyz, red 50%, blue 50%);
}
#menu{
  background-image: url(./image1/background1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.info{

  background-image: url(./image1/TABLE1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

/* ================cheff========== */

#cheff{

  width: 100%;
  display: flex;
  margin-bottom: 50px;
  justify-content: center;
  background-color: rgb(211, 242, 247);
}

.list-cheff{

  width: 90%;
  position: relative;
  margin-top: 100px;
  justify-content: center;
}
.logo_cheff h1{
  font-size: 40px;
  font-weight: 600;
  font-family: 'Caprasimo', cursive;
  color: rgb(5, 5, 38);
  margin-left: 50%;
}
.cheff_card {

  display: grid;
  grid-template-columns: repeat(3,1fr);
  padding: 10px;

}
.ccard{
   width: 300px;
  height: auto;
  display: block;
  padding: 10px;
  margin-left: 10px;
  border-radius: 10px;
  position: relative;
  background: rgb(232, 225, 39);
  outline: 2px solid rgb(246, 171, 144);
}
.ccard p{
  margin-top: 20px;
  
  font-size: larger;
}
.ccard img{
  width: 200px;
  height: auto;
  display: block;
  border: 10px;
  border-radius: 10px;
}
.logo_cheff img{
  width: 230px;
  cursor: pointer;
  border: 10px;
}
.cheff-title h1{
  font-size: 40px;
  font-weight: 600;
  font-family: 'Caprasimo', cursive;
  color: black;
}
/* contact */
.icon-set{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3%;
}
.icon,.up-arrow{
  width: 50px;
  height: 50px;
  /* border: 1px solid  black; */
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px 10px;
}
.icon i{
  font-size: 25px;
  color: black;
}
.icon:hover{
  background-image: linear-gradient(to bottom right,rgb(11, 34, 244),rgb(14, 236, 248));
  
}
.icon:hover i{
  color: white;
  animation: shake 1s infinite;
}
@keyframes shake {
  10% {transform: rotate(15deg);}
  20% {transform: rotate(-15deg);}
  30% {transform: rotate(15deg);}
  40% {transform: rotate(-15deg);}
  50% {transform: rotate(360deg);}
}
.up-arrow{
  float: right;
  background-image: linear-gradient(to bottom right,yellow,red);
  margin: 0px 10px 50px 0px;
}
.up-arrow:hover i{
  color: white;
}
html{
  scroll-behavior: smooth;
}
#contact span{

  font-family: 'Tilt Prism', cursive;
  color: goldenrod;
  font-size: 80px;
}
#contact p{
  color: aqua;

  font-size: 28px;
  margin-left: 50px;
  margin-right: 50px;
}
#contact h3{
  font-size: 40px;
  color: rgb(76, 58, 58);
  margin-left: 50px;
  margin-bottom: 30px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.heading h2{
  text-align: center;
  color: white;
}
.follo h1{

  color: aliceblue;
  align-items: center;
  font-size: 50;
  position: relative;
}



/* review */

#review img{

   width: 100%; 
  height: 100%;
  object-fit: cover;
  border-radius: 50%; 
  box-shadow: 0 10px 25px rgb(0, 0, 0, .25);
}
#review{
  margin: auto;
  padding: 0 1rem;
  max-width: 1100vh;
  text-align: center;
}
.title{
  font-size: 2.5rem;
  text-transform: uppercase;
  color: rgb(50, 50, 50);
  margin-bottom: .5rem;
}
.note{
  font-size: 1.1rem;
  color: rgb(150, 150, 150);
  font-style: italic;
}
.revs{
  margin: 2rem auto;
  display: flex;
  flex-wrap: wrap;
}
.rev{
  margin: 0 1rem;
  min-width: 300px;
  flex: 1;
}

 .head-rev{
  margin: 1.75rem auto;
  width: 150px;
  height: 150px;
} 

.body-rev{
  background-color: rgb(238, 238, 238);
  padding: 2.5rem;
  box-shadow: 2px 2px 10px 3px rgb(225, 225, 225);
}
.name-rev{
  font-size: 1.5rem;
  color: rgb(50, 50, 50);
  margin-bottom: .25rem;
}
.place-rev{
  color: red;
  font-style: italic;
}
.rating{
  margin: 1rem 0;
}
.desc-rev{
  line-height: 1.5rem;
  letter-spacing: 1px;
  color: rgb(150, 150, 150);

}
@media (max-width: 678px)
{
  .rev{
    margin-top: 1.5rem;
  }
}
  





/* footer */


.ab a{
  


  padding: 100px;


  color: white;
  text-decoration: none;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

  
}

.ab p{

  font-size: larger;
}



/* Html{
  overflow-x: hidden;
} */